.admin {
  width: 100vw;
  height: 100vh;
}
.admin .ant-layout-header {
  background: #808a87;
  display: flex;
  padding: 0 40px 0 10px;
  justify-content: space-between;
  align-items: center;
}
.admin .ant-layout-header .header_title {
  height: 64px;
  line-height: 64px;
}
.admin .ant-layout-sider {
  background: #092046;
}
